[submodule "assets/qunit"]
	path = assets/qunit
	url = https://github.com/jquery/qunit.git
[submodule "assets/micro-selector"]
	path = assets/micro-selector
	url = https://github.com/fabiomcosta/micro-selector.git
